*{
   font-family: 'Poppins', sans-serif;
}
h1{
  text-align: center;
}

.form {
  max-width: 300px;
  margin: 0 auto;
}

.form label {
  display: block;
  margin-top: 10px;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #45a049;
}